
<div class="panel-body" style="background-image: url('../../image/servic contact.jpg'); background-repeat:no-repeat;background-position:center;background-size:cover">

    <h2>@ViewBag.Title</h2>


    <h3>Hi, Welcome to Smart Travel Website</h3>


    <section style="font-display:auto">

        <p>
            R-car is a web page for users to renting the cars in Vic
            Now offering the pick-up and drop-off location:<br />
            Melbourne Airport<br />

            Melbourne Center<br />
            Monash University Caulfield Campus<br />
            Monash University Clayton Campus<br />

        </p>
    </section>


    <div>
        @Html.ActionLink("Booking", "Index", "Bookings")
    </div>

    <div>
        @Html.ActionLink("Back to Home", "Index")
    </div>


</div>