@{
    ViewBag.Title = "Home Page";
}

<div class="panel-body" style="background-image: url('../../image/clean road.jpg'); background-repeat:no-repeat;background-position:center;background-size:cover">
    <div class="jumbotron" style="background-color:aliceblue">
        <h1>Smart Travel</h1>
        <p class="lead"> Smart Travel is the website for user to book Cars in VIC. </p>
        <p><a class="btn btn-primary btn-lg" href='../../CarSets/Index'>Book Now &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>View Cars </h2>
        <p>Click the button yout can see the  avaailable cars in stock .</p>
        <p><a class="btn btn-default" href='../../CarSets/Index'> View &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>About</h2>
            <p>
                Get more details of the renting service,pick-up and  drop off location.
            </p>
            <p><a class="btn btn-default" href='../../Home/About'> Get more details &raquo;</a></p>
        </div>

      

    </div>

</div>